extends layout

block content
  .container
    .about.unselectable
        p LomoDomo is a community for all things lomography. 
        p The goal of this site is to showcase those special moments captured on film. 
        p LomoDomo keeps it simple -- curated photos, with just enough details.