extends layout

block content
  
  .grid(data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 151.5, "fitWidth": true, "transitionDuration": "0.4s"}')
    for image in images
      .grid-item
        img(src=image.image)
        
    //- p #{image.camera}

  script(src='/javascripts/main.js')