extends layout

block content
  .navbar
    header.header
      a.logo#logo(href='/') LomoDomo
      input#menu-btn.menu-btn(type='checkbox')
      label.menu-icon(for='menu-btn')
        span.navicon
      ul.menu
        li
          a(href='#') About
        li
          a(href='#') Login

  .grid(data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 151.5, "fitWidth": true, "transitionDuration": "0.4s"}')
    for image in images
      .grid-item
        a(href=`/image/${image._id}`)
          img(src=image.image)
        
    //- p #{image.camera}

  script(src='/javascripts/main.js')