extends layout

block content
  .grid
    for image in images
      .grid-item
        a(href=`/image/${image._id}`)
          img(src=image.image)
        
    //- p #{image.camera}

  script(src='/javascripts/main.js')