extends layout

block content
    .container
        //- h1.upload Login
        form#upload-form(method='POST' action='/users/login')
            h1.form-header Login

            //- user
            input(type='text', name='username', placeholder='user')
            //- label.floating-label(for='username') User:

            //- pass
            input(type='password', name='password', placeholder='pass')
            //- label.floating-label(for='password') Pass:

            button(type='submit') login