extends layout

block content
  .container
    .left
      img.display(src=image.image)
    .right
      h1 #{image.name}
      p #{image.camera} | #{image.film}
    

  script(src='/javascripts/main.js')